.form-control {
    height: unset !important;
}

.bg-pink {
    background-color: #ed5497;
}

.logo-title {
    font-weight: 700;
}

.carousel-item .container {
    width: 80%;
    height: 100%;
    display: flex;
}

.carousel-item .container .caption {
    padding-bottom: 55px;
    color: #fff;
    align-self: flex-end;
}